.chatList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    hr {
        border: none;
        height: 2px;
        background-color: #ddd;
        opacity: 0.1;
        border-radius: 5px;
        margin: 20px 0;
    }

    .title {
        font-weight: 600;
        font-size: 10px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    a {
        font-size: clamp(12px, 1vw, 14px);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s ease;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            background-color: #272338;
            color: white;
        }
    }



}