.chatPage {
    height: 100dvh;
    width: 100%;
    display: flex;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 2rem;
}

.chat {
    flex: 1;
    overflow-y: auto;
    padding: 20px 2rem 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}


.message {
    padding: 20px;
    max-width: 80%;
    align-self: flex-start;
}

.message-user {
    background-color: #2c2937;
    border-radius: 0.5rem;
    padding: 0.7rem;
    max-width: 80%;
    align-self: flex-end;
}