.chatpage-container {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1e1c29;
    padding: 20px;
    box-sizing: border-box;
}

.chat-wrapper {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}