.newprompt {
    padding: 20px;
    margin-bottom: 0.8rem;
}

.endChat {
    padding: 10px;
}

.new-form {
    width: 100%;
    background-color: #2c2937;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 16px;
    border-radius: 30px;
}

.new-form input[type="text"] {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}

.new-form button,
.new-form label {
    border-radius: 50%;
    background-color: #605e68;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.file-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}